$bg-header: #ff6f61;
$bg-footer: #ff6f61;
$text-main: #ff6f61;
$text-secondary: #077fffb2;
$btn-custom-bg: #14eaaa;
$btn-custom-hover-bg: #17a2b8;
$btn-custom-color: #ffffff;
$footer-hover-color: #ffdd57;
$font-family: 'Roboto', sans-serif;
$background-color: #eeccd7;